.slider {
    -fx-background-color: transparent;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #ff7f50, #ff4500);
    -fx-background-radius: 10;
    -fx-padding: 4 0 4 0;
}

.slider .thumb {
    -fx-background-color: #ff4500;
    -fx-background-radius: 10;
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

.slider .tick-mark {
    -fx-stroke: #ff4500;
}

.slider .major-tick-mark {
    -fx-stroke: #ff4500;
    -fx-stroke-width: 2;
}

.slider .minor-tick-mark {
    -fx-stroke: #ff7f50;
}

.slider .label {
    -fx-text-fill: #ff4500;
    -fx-font-size: 12;
}
